.section {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 50px 0;
}
.container {
    max-width: 1100px;
    margin: auto;
}
.title {
    margin: auto;
    font-weight: 500;
    font-size: xx-large;
    padding: 0 0 20px 10px;
    color:  rgba(100, 100, 100, 0.9);;
}
.container__cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.item {
    margin: 5px;
}
