.embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height: 19rem;
    padding: 1.6rem;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
    z-index: -1000;
  }
  .embla__slide__number {
    height: 10rem;
    width: -webkit-fill-available;
    padding: 1rem 4rem;
    z-index: 1;
    position: absolute;
    bottom: 0rem;
    background-color: rgba(100, 100, 100, 0.4);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .embla__slide__number > span {
    color: var(--brand-primary);
    background-image: linear-gradient(
      45deg,
      var(--brand-primary),
      var(--brand-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .embla__slide__number__title {
    color: white;
    font-size: 2rem;
    display: block;
    padding: 1rem 0;
    font-size: 8rem;
    text-align: center;
    font-weight: 800;
    line-height: 1.1;
    margin: 24px 0 64px;
  }
  .embla__slide__number__text {
    color: white;
    font-size: 1rem;
    display: block;
    min-height: 200px;
  }
  